#createaccount {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    backdrop-filter: blur(10px);
    transition: opacity .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 110;
    background: rgba(255, 255, 255, .3)
}

#createaccount-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    color: rgb(93, 93, 187);
    cursor: pointer;
}

#createaccount-photo {
    width: 20rem;
    position: relative;
    height: 5rem;
    padding: .6rem;
    background: white;
    border-radius: .4rem;
    border: 2px solid rgb(93, 93, 187);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
}

.selection-photo {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin: 0 .5rem;
    cursor: pointer;
    border-radius: .4rem;
    box-sizing: border-box;
    transition: filter .4s cubic-bezier(0.165, 0.84, 0.44, 1), border .4s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.selection-photo:hover {
    filter: brightness(1.1)
}

.selection-photo.selected {
    border: 2px solid rgb(93, 93, 187);
}

.createaccount-label {
    padding-bottom: .5rem;
}

#createaccount-title {
    margin-top: -15rem;
}

#createaccount-pseudo {
    font-size: large;
    position: relative;
    width: 20rem;
    border-radius: .4rem;
    border: 2px solid rgb(93, 93, 187);
    padding: .6rem;
    margin-bottom: 1.5rem;
}

#createaccount-mdp {
    font-size: large;
    position: relative;
    width: 20rem;
    border-radius: .4rem;
    border: none;
    padding: .6rem;
    margin-bottom: 1.5rem;
    border: 2px solid rgb(93, 93, 187);
}

#createaccount-submit {
    position: relative;
    font-size: large;
    border-radius: .4rem;
    border: none;
    width: 21.45rem;
    padding: .6rem;
    color: white;
    background: rgb(93, 93, 187);
    cursor: pointer;
}